@import "tailwindcss";

@plugin "tailwindcss-animate";

html{
  scroll-behavior: smooth;
}
body{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat ;
  background-attachment: fixed;
}
.img-cover {
   background-image:url('/background.jpg') ; 
}
a:hover{
color: darkgray;
}

 
